<ion-header>
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <br>

  <ion-item>
    <ion-label>Email:</ion-label>
    <ion-input placeholder="Digite seu email"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Senha:</ion-label>
    <ion-input type="password" value="password"></ion-input>
  </ion-item>
  <ion-button fill="outline">Entrar</ion-button>
  <ion-button fill="outline">Registrar</ion-button>
  <ion-button fill="clear">Esqueceu a senha?</ion-button>

</ion-content>
