<ion-header>
  <ion-toolbar color="azul2">
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content color="azulclaro">


  <ion-card>
    <ion-card-content>
      <ion-item>
        <ion-label>Email:</ion-label>
        <ion-input placeholder="Digite seu email"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Senha:</ion-label>
        <ion-input type="password" value="password"></ion-input>
      </ion-item>
      <div style="text-align: right">
        <ion-button fill="clear" color="azul2">Esqueceu a senha?</ion-button>
      </div>
      <ion-button expand="block" color="azul2">ENTRAR</ion-button>

      <div style="text-align: center">
        <ion-button routerLink="/registro" fill="clear" color="azul2">Registro</ion-button>
      </div>
      <br />
    </ion-card-content>
  </ion-card>
</ion-content>
