<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons routerLink="" slot="start">
      <ion-back-button default-href="#"></ion-back-button>
    </ion-buttons>
    <ion-title>Voltar</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="azulclaro">
  <ion-card>
    <ion-card-content>
      <form [formGroup]="fromRegistro">
      <ion-item>
        <ion-label position="floating">Nome</ion-label>
        <ion-input formControlName="nome" placeholder="Digite seu Nome"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">CPF</ion-label>
        <ion-input formControlName="cpf" placeholder="Digite seu CPF"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Email</ion-label>
        <ion-input formControlName="email" placeholder="Digite seu Email"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Senha</ion-label>
        <ion-input type="password" formControlName="senha" placeholder="Digite sua Senha"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Confirmar a senha</ion-label>
        <ion-input type="password" formControlName="confirmarSenha" placeholder="Confirme sua senha"></ion-input>
      </ion-item>
      <ion-button expand="block" (click)="salvarRegistro()">SALVAR</ion-button>
    </form>
    </ion-card-content>
  </ion-card>
</ion-content>
